@import '../abstracts/variables';
@import '../themes/meli_theme';
@import '../base/common';

$img-max-width: 680px;

.item_details {
  width: 100%;
  padding: 2.285714rem;
  border-radius: $card-border-radius;
  background-color: $white-background;
  margin-bottom: 2rem;
  @extend .d-flex-column;

  &__buy_title {
    width: 100%;
    @extend .d-flex-row;
  }

  &__description {
    max-width: $img-max-width;
    width: 100%;
  }

  &__description_title {
    margin-top: 4rem;
    font-size: map-get($font-sizes, 'large-2');
    color: $primary-color-text;
    font-weight: 500;
  }

  &__description_text {
    margin-top: 2.285714rem;
    font-size: map-get($font-sizes, 'medium-1');
    color: $primary-color-text-light;
  }

  &__buy_container {
    flex-grow: 1;
    margin-left: 2.285714rem;
    @extend .d-flex-column;
  }

  &__sold {
    font-size: map-get($font-sizes, 'base');
    font-weight: normal;
  }

  &__title {
    margin-top: 1.142857rem;
    font-size: map-get($font-sizes, 'large-1');
  }

  &__price {
    line-height: 1;
    align-items: flex-start;
    margin-top: 2.285714rem;
    font-size: map-get($font-sizes, 'big-1');
    @extend .d-flex-row;

    span {
      margin-left: 0.5rem;
      font-size: map-get($font-sizes, 'large-2');
      font-weight: 400;
    }
  }

  &__button {
    margin-top: 2.285714rem;
  }

  // Desktop M devices
  @media (max-width: map-get($breakpoints, 'large-2')) {

    &__price {
      font-size: map-get($font-sizes, 'large-2');
    }
  }

  // Tablet and Desktop S Devices
  @media (max-width: map-get($breakpoints, 'large-1')) {

    &__buy_title {
      flex-direction: column;
    }

    &__buy_container {
      margin: 2rem 0 0;
      button {
        width: 50%;
      }
    }
  }

  // Mobile devices
  @media (max-width: map-get($breakpoints, 'small')) {
    
    &__buy_container button {
      width: 100%;
    }
  }
}