@import '../abstracts/variables';
@import '../components/item_card.module';

$divider-space: $item-card-padding + 1rem;

.items_list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  border-radius: $card-border-radius;
  background-color: $white-background;

  li {
    position: relative;
  }

  li:not(:last-child)::after {
    position: absolute;
    content: ' ';
    bottom: 0;
    height: 2px;
    width: calc(100% - #{$divider-space} * 2);
    background-color: $gray-background;
    margin: 0 $divider-space;
  }

  // Mobile devices
  @media (max-width: map-get($breakpoints, 'small')) {
    
    margin-top: 2rem;

    li:not(:last-child)::after {
      width: calc(100% - #{$divider-space});
      margin: 0 $divider-space / 2;
    }
  }
}