@mixin btn-hover($bgcolor) {
  background-color: $bgcolor;
  &:hover {
    cursor: pointer;
    background-color: mix($bgcolor, #FFFFFF, 80%);
  }
}

@mixin width-adjust($width, $margin: 2rem) {
  width: calc(#{$width} - #{$margin});
}