@import '../abstracts/variables';

$primary-color: $meli-yellow;
$primary-color-text: $gray-text-1;
$primary-color-text-light: $gray-text-3;
$primary-color-text-light-2: $gray-text-2;
$secondary-color: $meli-blue;

$background-color: $gray-background;

$input-placeholder-text: $gray-text-3;