@import '../abstracts/variables';
@import '../base/common';

$item-card-padding: 1.142857rem;

.item_card {
  width: 100%;
  padding: 1.142857rem;
  background-color: $white-background;
  border-radius: $card-border-radius;
  @extend .d-flex-row;

  &__details {
    align-items: flex-start;
    padding: 1.142857rem;
    width: 80%;
    @extend .d-flex-column;
  }

  &__price {
    line-height: 1;
    align-items: flex-start;
    margin-top: 2.285714rem;
    font-size: map-get($font-sizes, 'large-1');
    @extend .d-flex-row;
  }

  &__price_decimals {
    margin-left: 0.25rem;
    font-size: map-get($font-sizes, 'base');
  }

  &__shipping {
    margin-left: 1rem;
    height: 100%;
  }

  &__title {
    margin-top: 2.285714rem;
    font-size: map-get($font-sizes, 'medium-2');
  }

  &__location {
    font-size: map-get($font-sizes, 'small');
    margin-top: 3.428571rem;
    width: 20%;
  }

  &__shipping_sm {
    display: none;
  }

  // Tablet devices
  @media (max-width: map-get($breakpoints, 'medium')) {

    padding: 0.5rem;

    &__price {
      font-weight: 500;
      font-size: map-get($font-sizes, 'medium-2');
    }

    &__price_decimals {
      font-weight: 500;
      font-size: map-get($font-sizes, 'small');
    }

    &__title {
      font-size: map-get($font-sizes, 'base');
    }

    &__location {
      display: none;
    }
  }

  // Mobile devices
  @media (max-width: map-get($breakpoints, 'small')) {
    &__price {
      margin-top: 0;
      font-size: map-get($font-sizes, 'medium-1');
    }

    &__price_decimals {
      font-size: map-get($font-sizes, 'x-small');
    }

    &__title {
      margin-top: 1rem;      
    }

    &__shipping {
      display: none;
    }

    &__shipping_sm {
      display: block;
      margin-top: 0.5rem;
      color: $green-text;
      font-weight: 500;
    }
  }
}

